langchain
ipykernel
python-dotenv
langchain-groq
langchain-openai
langchain-community
streamlit
wikipedia
pypdf
pymupdf

sentence-transformers
faiss-cpu
chromadb

typesense 

langgraph
langchain_google_genai
langchain_core
youtube-search-python
youtube-search